/* Nav */
nav {
  grid-area: nav;
  background: #ffffff;
}

.nav-info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0rem 2rem 0rem 2rem;
}

@media (min-width: 576px) {
  .nav-info {
    justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .nav-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.nav-logo img {
  width: 5rem;
}

@media (min-width: 576px) {
  .nav-logo img {
    width: 10rem;
  }
}

@media (min-width: 992px) {
  .nav-logo img {
    width: 30rem;
    padding: 3rem;
  }
}

.nav-menu ul {
  display: none;
  padding-left: 26.5rem;
  gap: 3rem;
  list-style: none;
}

.nav-menu ul li {
  font-size: larger;
}

@media (min-width: 576px) {
  .nav-menu ul {
    display: flex;
  }
}

@media (min-width: 992px) {
  .nav-menu ul {
    flex-direction: column;
    gap: 2rem;
    padding: 0rem;
  }
}

/* Dropdown Menu */
.menu-display {
  position: relative;
  display: none;
}

.show-menu {
  display: inherit;
  position: absolute;
  top: 100%;
  left: calc(100% - 6.5rem);
}

@media (min-width: 576px) {
  .show-menu {
    display: none;
  }
}

.menu-options {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.8rem;
  height: auto;
  width: auto;
}

.menu-options a {
  width: 11.5rem;
  padding: 1rem 2rem;
}

@media (min-width: 576px) {
  .nav-menu-icon i {
    display: none;
  }
}

/* Filter */
.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  grid-area: filter;
  background-color: #dcdcdc;
  padding: 1rem 0rem 2rem 0rem;
  width: 100%;
}

@media (min-width: 576px) {
  .filter {
    justify-content: flex-start;
    background-color: #dcdcdc;
  }
}

.filter-text p {
  color: #292929;
}

.filter-select select {
  width: 27rem;
}

@media (min-width: 576px) {
  .filter-select select {
    width: 10rem;
  }
}

@media (min-width: 992px) {
  .filter-select select {
    width: 70rem;
  }
}

.filter-value {
  padding-left: 1rem;
}

/* Main */
main {
  grid-area: main;
  background: #dcdcdc;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 9rem auto 5rem;
  grid-template-areas:
    "nav"
    "filter"
    "main"
    "footer";
  width: 100%;
  height: 100vh;
}

@media (min-width: 576px) {
  .grid-container {
    grid-template-columns: 15rem 1fr;
    grid-template-rows: 5rem auto 5rem;
    grid-template-areas:
      "nav nav"
      "filter main"
      "footer footer";
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 25rem 1fr;
    grid-template-rows: 9rem auto 5rem;
    grid-template-areas:
      "nav filter"
      "nav main"
      "footer main";
  }
}

/* Cards */
.grid-cards {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  padding: 3.2rem;
  row-gap: 2rem;
}

@media (min-width: 576px) {
  .grid-cards {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
  }
}

@media (min-width: 992px) {
  .grid-cards {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

/* Card */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0rem 2rem 0rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1.6rem;
  box-shadow: 0rem 0.4rem 3rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

.card-image img {
  width: 15rem;
  height: 20rem;
}

.card-info {
  display: flex;
  flex-direction: column;
  font-weight: light;
  padding: 1rem 0rem 0.5rem 0rem;
}

.card-info p {
  font-weight: 700;
}

.card-button {
  outline: 0;
  cursor: pointer;
  padding: 0.5rem 1.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  vertical-align: middle;
  border: 0.1rem solid;
  border-radius: 0.6rem;
  color: #24292e;
  background-color: #fafbfc;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.04) 0rem 0.1rem 0rem 0rem, rgba(255, 255, 255, 0.25) 0px 0.1rem 0rem 0rem inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  :hover {
    background-color: #fafbfc;
    border-color: #1b1f2326;
    transition-duration: 0.1s;
  }
}

.card-button button {
  background-color: #fafbfc;
}

/* Pagination */
.pagination {
  padding: 2rem 0rem 5rem 0rem;
}

.pagination ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.pagination ul li {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

@media (min-width: 576px) {
  .pagination ul li {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (min-width: 992px) {
  .pagination ul li {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.pagination ul li a {
  padding: 1rem 2rem;
  background: #efefef;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1.6rem;
  box-shadow: 0rem 0.4rem 3rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

.pagination ul li a:hover {
  color: #efefef;
  background: #464646;
}

.pagination ul li .active {
  color: #efefef;
  background: #292929;
  font-weight: bold;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  background-color: #dcdcdc;
}

footer i {
  padding: 0rem 1rem 0rem 1rem;
}